<IfModule mod_rewrite.c>
    RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-s
	RewriteRule eslip_frontend_services/(.*)$ eslip_frontend_services.php?rquest=$1 [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule eslip_frontend_services/(.*)$ eslip_frontend_services.php [QSA,NC,L]

	RewriteCond %{REQUEST_FILENAME} -s
	RewriteRule eslip_frontend_services/(.*)$ eslip_frontend_services.php [QSA,NC,L]

	RewriteRule ^config.xml$ index.php
</IfModule>