<!-- END WIZARD - Login Form -->
<div class="modal fade" id="dialog-wizard-end" tabindex="-1" role="dialog" aria-labelledby="dialog-wizard-end-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="dialog-wizard-end-label"><span data-content="labels.wizardEndTitle"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <label for=""><span data-content="labels.loginFormDesc"></span></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="codeContainer">
                            <span class="tag">&lt;html&gt;</span><br/>
                            <span class="tab1 tag">&lt;head&gt;</span><br/>
                            <span class="tab2 tag">&lt;link</span> <span class="attribute">rel=</span><span class="text">&quot;stylesheet&quot;</span> <span class="attribute">type=</span><span class="text">&quot;text/css&quot;</span> <span class="attribute">href=</span><span class="text">&quot;<span data-content="pluginCss"></span>&quot;</span> <span class="tag">/&gt;</span><br/>
                            <span class="tab2 tag">&lt;script </span><span class="attribute">type=</span><span class="text">&quot;text/javascript&quot;</span> <span class="attribute">src=</span><span class="text">&quot;<span data-content="pluginJs"></span>&quot;</span><span class="tag">&gt;&lt;/script&gt;</span><br/>
                            <span class="tab1 tag">&lt;/head&gt;</span><br/>
                            <span class="tab1 tag">&lt;body&gt;</span><br/>
                            <span class="tab2 tag">&lt;div</span> <span class="attribute">id=</span><span class="text">&quot;<span data-content="eslipDivId"></span>&quot;</span><span class="tag">&gt;&lt;/div&gt;</span><br/>
                            <span class="tab1 tag">&lt;/body&gt;</span><br/>
                            <span class="tag">&lt;/html&gt;</span><br/>
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-end">OK</span></button>
            </div>
        </div>
    </div>
</div>