<div class="demoContainer">

    <div class="row marketing">

        <a class="cursorPointer pull-right hidden" ng-click="logout()" ng-class="{hidden: !eslip.user}">
            <span class="glyphicon glyphicon-off"></span>
            &nbsp;Cerrar Sessi&oacute;n
        </a>

        <a class="cursorPointer pull-right hidden" ng-click="logout()" ng-class="{hidden: !eslip.error}">
            <span class="glyphicon glyphicon-repeat"></span>
            &nbsp;Volver a intentar
        </a>

        <h3 class="sectionTitle">Demo</h3>
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div id="ESLIP_Plugin" ng-hide="eslip.user || eslip.error"></div>
                
            </div>
            <div class="col-md-2"></div>
        </div>

        <script type="text/javascript" src="eslip/frontend/eslip_plugin.js" autoInit="false"></script>

        <div class="hidden" ng-class="{hidden: !eslip.user}">

            <div class="alert alert-success">
              <strong>Hola <i>{{eslip.user_identification}}</i>!</strong> Gracias por probar ESLIP!
            </div>

            <p></p>

            <h4>Recursos obtenidos del usuario: </h4>
            <div class="well">
                <pre>{{eslip.user | json}}</pre>
            </div>

        </div>


        <div class="hidden" ng-class="{hidden: !eslip.error}">

            <div class="alert alert-danger">
              <strong>Error!</strong> Ha ocurrido un error al identificarse con ESLIP.
            </div>

            <p></p>

            <h4>Datos del error: </h4>
            <div class="well">
                <pre>{{eslip.error}}</pre>
            </div>

        </div>

    </div>
</div>