<div class="well menu" ng-init="selected=1">
    <ol>
        <li ng-click="selected=1">Descarga del Plugin</li>
        <li ng-click="selected=2">Subir el Plugin al Servidor</li>
        <li ng-click="selected=3">Configuración del Plugin</li>
        <li ng-click="selected=4">Wizard de Configuración</li>
        <li ng-click="selected=5">Módulo de Administración del Plugin</li>
        <li ng-click="selected=6">Creación de aplicaciones en proveedores de identidad</li>
    </ol>
</div>

<div id="download" class="row marketing" ng-show="selected==1">
    <h3>1. Descarga del Plugin</h3>
    <p>
    Como primer paso se debe descargar la última versión del plugin ESLIP haciendo click <a ng-href="https://github.com/eslip/eslip/archive/v0.1.zip">aqu&iacute;</a> o desde <a ng-href="https://github.com/eslip/eslip">GitHub</a>. Una vez realizada la descarga, se procede a descomprimir el archivo.
    </p>
    <p>
        Otra forma de obtener el plugin es directamente desde GIT realizando la clonación del proyecto. Esto se puede llevar a cabo mediante el comando:
    </p>
    <p>
        <pre><code>$ git clone git://github.com/eslip/eslip.git</code></pre>
    </p>
    <p>
        Como resultado, de cualquiera de las alternativas de descarga antes mencionadas, se debería obtener esta estructura de archivos:
        <br/>
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;eslip/<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── example/<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── docs/<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── eslip/<br/>
    </p>
    <p>
        Dentro de la carpeta <code>example/</code> se encuentra un ejemplo de como funciona el plugin. En la misma se incluye un archivo <code>index.php</code> en donde se encuentra el código que renderiza el widget de Social Login. Allí también se encuentra un archivo llamado <code>login.php</code> que es el archivo a donde se retorna una vez realizado todo el procesamiento por parte del plugin  y donde se muestra cómo recuperar los datos que fueron obtenidos del proveedor de identidad.
    </p>
    <p>
        Por otro lado, en la carpeta <code>docs/</code> se encuentra la documentación del código fuente de los archivos más importantes del plugin. Dicha documentación fue generada con la herramienta <a ng-href="http://www.phpdoc.org" target="_blank">phpDocumentor</a>. Esta documentación ofrece una visión en profundidad del proyecto orientada tanto a desarrolladores como a consumidores y contribuyentes.
    </p>
    <p>
        Por último, en la carpeta <code>eslip/</code> se encuentra el plugin. Esta es la carpeta que se debe alojar en el sitio web donde se desea integrar el plugin.
    </p>
</div>
<div id="upload_to_server" class="row marketing" ng-show="selected==2">
    <h3>2. Subir el Plugin al Servidor</h3>
    <p>
        Como se mencionó anteriormente, una vez descargado el plugin se debe proceder a colocar la carpeta <code>eslip/</code> (la cual contiene el código del plugin) en el servidor web correspondiente. Se puede alojar en cualquier ruta. Por ejemplo si se aloja en la raíz del sitio web <i>www.example.com</i> la ruta sería <i>www.example.com/eslip</i>.
    </p>
</div>
<div id="configuration" class="row marketing" ng-show="selected==3">
    <h3>3. Configuración del Plugin</h3>
    <p>
        Una vez subido el plugin al servidor, ya se encuentra apto para ser configurado. Para ello se debe escribir en la barra de direcciones del navegador la ruta donde fue ubicada la carpeta del plugin y de esta manera se accede al administrador.
    </p>
    <p>
        Al ser la primera vez que se ingresa al administrador, se debe ejecutar el Wizard de configuración. Esta acción se lleva a cabo haciendo clic en el link del cartel informativo del formulario para ingrsar al administrador.
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img width="100%" style="margin-top: 20px;" src="images/first_login.png" alt="First Login">
            </div>
            <div class="col-md-2"></div>
        </div>
    </p>
</div>
<div id="wizard" class="row marketing" ng-show="selected==4">
    <h3>4. Wizard de Configuración</h3>
    <h4>Selección de lenguaje</h4>
    <p>
        Como ya se mencionó, ESLIP se encuentra disponible en inglés y español, aunque es posible extender y agregar más lenguajes. Por ello, en el primer paso del wizard de configuración, se presenta ante el usuario una ventana emergente con la lista de lenguajes soportados por el plugin. En este paso se debe seleccionar el idioma de visualización que será utilizado tanto en el wizard como el administrador.
    </p>
    <h4>Creación del usuario administrador</h4>
    <p>
        Se deben establecer las credenciales para acceder luego al administrador de forma segura.
    </p>
    <p>
        Los datos requeridos son nombre de usuario y una contraseña. Cabe destacar que el plugin sólo permite crear un único usuario, esto se debe a la búsqueda de sencillez que promueve el plugin.
    </p>
    <h4>Configuraciones generales</h4>
    <p>
        En este paso se establecen las URL’s que son utilizadas internamente por el plugin para poder realizar correctamente las distintas comunicaciones con los proveedores de identidad. Es de vital importancia que no haya errores en estos datos. Para facilitar la configuración, ESLIP sugiere las URL’s en base a la ruta donde se encuentre alojado el plugin, pero por varios motivos puede ser que estas no sean las URL’s deseadas.
    </p>
    <h4>Configuración de los proveedores de identidad</h4>
    <p>
        En esta sección se muestran los proveedores de identidad que están dados de alta en el plugin. La primera vez que se ejecuta el wizard, se visualizará la lista de proveedores que ya vienen precargados con el plugin. Inicialmente se encuentra cargada la configuración de los siguientes proveedores de identidad:
    </p>
    <ul>
        <li>Dropbox</li>
        <li>Facebook</li>
        <li>Flickr</li>
        <li>Foursquare</li>
        <li>Github</li>
        <li>Google</li>
        <li>LinkedIn</li>
        <li>OpenID</li>
        <li>Twitter</li>
        <li>Windows</li>
        <li>Yahoo!</li>
    </ul>
    <p>
        En este paso se deben activar los proveedores de identidad que se desee utilizar como medio de autenticación para el sitio web. De todas formas esto puede modificarse luego desde el módulo de administración del plugin, se podrán activar o desactivar los proveedores según sea necesario.
    </p>
    <p>
        Con excepción de OpenID, cada proveedor de identidad requerirá para su activación que se cree una aplicación externa, es decir una aplicación propia del proveedor de identidad, para, de esta manera contar con un medio de vinculación entre el sitio web y la API propia del proveedor de identidad.
    </p>
    <p>
        Estas aplicaciones de los proveedores de identidad exponen una gran cantidad de métodos y propiedades para que diferentes aplicaciones web puedan establecer un canal de comunicación, el cual puede ser utilizado tanto para autenticación como para recolección de datos y comportamientos de los usuarios. En el caso particular de ESLIP, estas aplicaciones son utilizadas para autenticar, o sea para corroborar que un usuario es quien dice ser, y para recolectar datos del perfil de usuario.
    </p>
    <p>
        Para la activación de cada proveedor de identidad, exceptuando OpenID, ESLIP solicita los siguientes datos:
        <dl class="dl-horizontal">
            <dt>ID de Cliente:</dt>
            <dd>Identificador provisto por la API OAuth para la aplicación externa creada en el proveedor de identidad correspondiente.</dd>
            <dt>Secreto de Cliente:</dt>
            <dd>Clave secreta provista por la API OAuth para la aplicación externa creada en el proveedor de identidad correspondiente.</dd>
            <dt>Scopes:</dt>
            <dd>Recursos que se desean obtener y que su propietario, quien se autentica a través del proveedor de identidad, debe autorizar para que sean concedidos.</dd>
        </dl>
    </p>
    <p>
        Para el caso particular del proveedor OpenID, se solicitan los siguientes datos:
        <dl class="dl-horizontal">
            <dt>Scopes Requeridos:</dt>
            <dd>Atributos que se desean requerir al proveedor de identidad. Deben estar separados por coma.</dd>
            <dt>Scopes Opcionales:</dt>
            <dd>Atributos que se desean requerir al proveedor de identidad pero que serán opcionales. El proveedor de identidad puede o no retornarlos. Los diferentes scopes que se pueden solicitar pueden ser consultados en <a ng-href="http://openid.net/specs/openid-attribute-properties-list-1_0-01.html#Prop_List" target="_blank">http://openid.net/specs/openid-attribute-properties-list-1_0-01.html#Prop_List</a>. De cada scope se debe descartar la primer parte correspondiente a “<i>http://openid.net/schema/</i>” la cual se repite en todos los scopes, y solamente se debe utilizar lo que se encuentra a continuación.</dd>
        </dl>
    </p>
    <p>
        Cabe destacar que para poder completar estos datos, el desarrollador debe recolectar sus valores por fuera del contexto del plugin ESLIP, por medio de aplicaciones que se deben crear en cada proveedor de identidad. Se puede encontrar información detallada sobre dónde y cómo crear estas aplicaciones externas en la seccion <b>10. Creación de aplicaciones en los proveedores de identidad</b> de esta documentación.
    </p>
    <h4>Widget de Social Login</h4>
    <p>
        En este paso se configuran los parámetros necesarios para personalizar el widget que será presentado en el sitio web con los botones de login correspondientes a los proveedores de identidad habilitados. Aquí se establece el tamaño del widget, si se debe o no mostrar el texto del botón y la disposición de los botones dentro de él, configurando cantidad de columnas y cantidad de filas. 
    </p>
    <p>
        A su vez, se facilita al desarrollador una vista previa del widget en donde se ven reflejados los valores a medida que éstos van siendo establecidos.
    </p>
    <h4>Código a incluir en el sitio web</h4>
    <p>
        Como último paso, luego de realizar las configuraciones necesarias y activar los proveedores de identidad se muestra el bloque de código que debe ser copiado y pegado en las secciones del sitio web donde se desea visualizar el widget se Social Login.
    </p>
    <p>
        Para una explicación más detallada se podría dividir el código en dos partes. Por un lado se encuentra las referencias a una hoja de estilos y un archivo JavaScript que hacen que se visualice el widget. Se recomienda que las mismas se incluyan en la sección <code>&lt;head&gt;</code> de las páginas HTML donde se desee presentar el widget. Por otro lado, un elemento HTML <code>&lt;div&gt;</code> con el identificador “<b>eslip-plugin</b>” que debe ser incluido en la parte del documento HTML donde se quiere que aparezca el widget. El plugin necesita que el elemento “<b>eslip-plugin</b>” esté presente en la página para poder mostrar el widget.
    </p>

    <p>
        <div class="highlight">
            Notar que todas estas configuraciones también están disponibles en el administrador del plugin. El wizard es una herramienta que provee ESLIP para configurar por primera vez el plugin de una manera sencilla, aunque opcionalmente puede ejecutar el wizard cuantas veces quiera, con la salvedad de que la primera vez que se ejecute deberá configurar las credenciales para acceder al módulo de administración.
        </div>
    </p>

</div>
<div id="admin" class="row marketing" ng-show="selected==5">
    <h3>5. Módulo de Administración del Plugin</h3>
    <p>
        Como se mencionó anteriormente, para poder acceder al administrador, primero se debe ejecutar el wizard de configuración para poder establecer las credenciales de ingreso. Una vez hecho esto, en la pantalla de login del administrador se debe ingresar el nombre de usuario y la contraseña elegida.
    </p>
    <p>
        Una vez dentro del administrador se pueden observar cinco secciones: 
    </p>
    <ul>
        <li>Configuraciones generales</li>
        <li>Proveedores de identidad</li>
        <li>Configuraciones de usuario</li>
        <li>Configuración de idiomas</li>
        <li>Widget de Social Login</li>
    </ul>
    <h4>Configuraciones generales</h4>
    <p>
        Aquí se pueden modificar los valores que se configuraron en la sección con el mismo nombre dentro del wizard. Se establecen las URL’s que se van a utilizar internamente en el plugin para poder realizar correctamente las distintas comunicaciones con los proveedores de identidad.
    </p>
    <p>
        Es de vital importancia que no haya errores en estos datos. Desde esta sección también se puede modificar el lenguaje de la interfaz del plugin y de su administrador.
    </p>
    <p>
        A continuación se detallan los datos que se pueden configurar en esta sección:
        <dl class="dl-horizontal">
            <dt>URL del Sitio:</dt>
            <dd>URL del sitio web en donde está incluyendo el plugin. Por ejemplo: <i>http://www.example.com</i>.</dd>
            <dt>URL de retorno:</dt>
            <dd>URL a donde se debería retornar una vez realizada la identificación. Aquí el desarrollador procesará los datos devueltos por el plugin como resultado de su interacción con el proveedor de identidad. Los datos son enviados a esta URL por el método HTTP POST además de ser almacenados en la Sesión PHP. Por ejemplo: <i>http://www.example.com/index.php</i>.</dd>
            <dt>URL del Plugin ESLIP:</dt>
            <dd>URL donde se encuentra alojado el plugin dentro de su sitio web. Por ejemplo: <i>http://www.example.com/eslip/</i>.</dd>
            <dt>Lenguaje:</dt>
            <dd>Aquí debe seleccionar el idioma en que quiera que se muestren los textos de la interfaz del plugin y del administrador.</dd>
        </dl>
    </p>
    <h4>Proveedores de identidad</h4>
    <p>
        En esta sección se administran los proveedores de identidad de ESLIP. Aquí se puede editar o eliminar los existentes como también agregar nuevos proveedores.
    </p>
    <p>
        Esta sección se divide en dos vistas. Por un lado, una estándar, en donde se pueden realizar las mismas acciones que en el wizard: activar y desactivar proveedores de identidad y establecer los principales parámetros de cada uno. Y por otro lado, una vista avanzada, en donde por cada proveedor de identidad se da la posibilidad de editar todos sus parámetros o también de eliminarlo del plugin.
    </p>
    <p>
        Se debe recordar que con excepción de OpenID, cada proveedor de identidad requerirá para su activación que se cree una aplicación externa, es decir una aplicación propia del proveedor de identidad, para, de esta manera contar con un medio de vinculación entre el sitio web y la API propia del proveedor de identidad.
    </p>
    <p>
        A continuación se detalla por cada vista, todos los parametro disponibles que se pueden configurar.
    </p>
    <h5>Vista Estándar</h5>
    <p>
        Como se dijo recientemente, esta vista es la misma a la presentada en el wizard de configuración inicial. 
    </p>
    <p>
        Para la activación de cada proveedor de identidad, exceptuando OpenID, ESLIP solicita los siguientes datos:
        <dl class="dl-horizontal">
            <dt>ID de Cliente:</dt>
            <dd>Identificador provisto por la API OAuth para la aplicación externa creada en el proveedor de identidad correspondiente.</dd>
            <dt>Secreto de Cliente:</dt>
            <dd>Clave secreta provista por la API OAuth para la aplicación externa creada en el proveedor de identidad correspondiente.</dd>
            <dt>Scopes:</dt>
            <dd>Recursos que se desean obtener y que su propietario, quien se autentica a través del proveedor de identidad, debe autorizar para que sean concedidos.</dd>
        </dl>
    </p>
    <p>
        Para el caso particular del proveedor OpenID, se solicitan los siguientes datos:
        <dl class="dl-horizontal">
            <dt>Scopes Requeridos:</dt>
            <dd>Atributos que se desean requerir al proveedor de identidad. Deben estar separados por coma.</dd>
            <dt>Scopes Opcionales:</dt>
            <dd>Atributos que se desean requerir al proveedor de identidad pero que serán opcionales. El proveedor de identidad puede o no retornarlos. Los diferentes scopes que se pueden solicitar pueden ser consultados en <a ng-href="http://openid.net/specs/openid-attribute-properties-list-1_0-01.html#Prop_List" target="_blank">http://openid.net/specs/openid-attribute-properties-list-1_0-01.html#Prop_List</a>. De cada scope se debe descartar la primer parte correspondiente a “<i>http://openid.net/schema/</i>” la cual se repite en todos los scopes, y solamente se debe utilizar lo que se encuentra a continuación.</dd>
        </dl>
    </p>
    <p>
        <h5>Vista Avanzada</h5>
        Para configurar cada proveedor de identidad, se debe hacer clic en el botón “Editar” correspondiente al proveedor. A continuación se abrirá una ventana emergente con campos para la personalización de los siguientes parámetros:
    </p>
    <p>
        Parámetros disponibles para todos los proveedores de identidad:
        <dl class="dl-horizontal">
            <dt>Scopes Requeridos:</dt>
            <dd>Atributos que se desean requerir al proveedor de identidad. Deben estar separados por coma.</dd>
            <dt>Scopes Opcionales:</dt>
            <dd>Atributos que se desean requerir al proveedor de identidad pero que serán opcionales. El proveedor de identidad puede o no retornarlos. Los diferentes scopes que se pueden solicitar pueden ser consultados en <a ng-href="http://openid.net/specs/openid-attribute-properties-list-1_0-01.html#Prop_List" target="_blank">http://openid.net/specs/openid-attribute-properties-list-1_0-01.html#Prop_List</a>. De cada scope se debe descartar la primer parte correspondiente a “<i>http://openid.net/schema/</i>” la cual se repite en todos los scopes, y solamente se debe utilizar lo que se encuentra a continuación.</dd>
        </dl>
    </p>
    <p>
        Para configurar cada proveedor de identidad, se debe hacer clic en el botón “Editar” correspondiente al proveedor. A continuación se abrirá una ventana emergente con campos para la personalización de los siguientes parámetros:
    </p>
    <p> 
        Parámetros disponibles para todos los proveedores de identidad:
        <dl class="dl-horizontal">
            <dt>Texto del botón:</dt>
            <dd>Texto que aparece en el botón del proveedor de identidad correspondiente dentro del widget.</dd>
            <dt>Activo:</dt>
            <dd>Con esta opción puede activar o desactivar este proveedor de identidad para que no sea visible en el widget.</dd>
            <dt>Recurso utilizado como identificador único del usuario:</dt>
            <dd>Nombre de la clave en el objeto que retorna el proveedor de identidad como respuesta a la petición de recursos, la cual se utiliza para acceder al identificador único del propietario de los recursos. Si la clave con el nombre ingresado existe en el objeto devuelto por el proveedor de identidad, su valor es enviado a la URL de retorno establecida por el desarrollador en un objeto junto al resto de los recursos obtenidos bajo la clave “id”. Este objeto también es almacenado en la sesión PHP.</dd>
        </dl>
    </p>
    <p>
        Parámetros disponibles sólo para OpenID:
        <dl class="dl-horizontal">
            <dt>URL del formulario:</dt>
            <dd>Dirección relativa dentro de la carpeta del plugin donde se encuentra el formulario donde el el usuario ingresa su identificador OpenID.</dd>
            <dt>Autenticación Inmediata:</dt>
            <dd>Aquí se establece si la autenticación se va a realizar utilizando el modo inmediato.</dd>
        </dl>
    </p>
    <p>
        Parámetros disponibles sólo para proveedores de identidad que utilizan el protocolo OAuth:
        <dl class="dl-horizontal">
            <dt>ID:</dt>
            <dd>Identificador único para cada proveedor de identidad. ESLIP ofrece una lista de identificadores precargados. El plugin provee un estilo de botón junto con el correspondiente icono para cada identificador.</dd>
            <dt>Nombre:</dt>
            <dd>Nombre para identificar el proveedor de identidad dentro del administrador del plugin.</dd>
            <dt>Versión de OAuth:</dt>
            <dd>Versión del protocolo que soporta el servidor OAuth del proveedor de identidad.</dd>
            <dt>URL del punto de entrada para la solicitud del token inicial:</dt>
            <dd>URL del servidor OAuth del proveedor de identidad para solicitar el token inicial cuando trabajamos con servidores OAuth 1.0 y 1.0a.</dd>
            <dt>URL del punto de entrada para la autorización:</dt>
            <dd>URL del formulario de login del proveedor de identidad. Se redirigirá al propietario del recurso a dicha URL para que inicie sesión y autorice o no a la aplicación creada en dicho proveedor de identidad a acceder a los recursos solicitados.</dd>
            <dt>URL del punto de entrada para la obtención del token de acceso:</dt>
            <dd>URL del servidor OAuth del proveedor de identidad que retornará el token de acceso.</dd>
            <dt>Parámetros para la obtención de recursos del usuario:</dt>
            <dd>Cadena con los parámetros que se le envían a la API del proveedor de identidad, entre los cuales debe estar el token de acceso.</dd>
            <dt>Parámetros en la cabecera de la petición:</dt>
            <dd>Establece si la API del proveedor de identidad requiere, a la hora de realizar la petición del token inicial, que se le envíen los parámetros en la cabecera de la petición HTTP. Si no se está seguro de ello dejar la opción en “Si”.</dd>
            <dt>Parámetros en la URL:</dt>
            <dd>Establece si la API del proveedor de identidad requiere, a la hora de realizar la petición del token inicial, que se le envíen los parámetros en la URL. Si no se está seguro de ello dejar la opción en “Si”.</dd>
            <dt>Parámetro adicional en la respuesta a la petición del token de acceso:</dt>
            <dd>Señala si la API OAuth del proveedor de identidad devuelve un parámetro extra en la respuesta a la petición de token de acceso necesario para la autenticación.</dd>
            <dt>Nombre del parámetro adicional:</dt>
            <dd>Nombre de la llave dentro de la respuesta a la petición de token de acceso para acceder al parámetro extra en caso de que el proveedor de identidad devuelva uno. Un ejemplo es Yahoo!, el cual devuelve el parámetro “xoauth_yahoo_guid” necesario para obtener los recursos solicitados.</dd>
            <dt>URL del punto de entrada para la obtención de recursos del usuario:</dt>
            <dd>URL que proporciona la API OAuth del proveedor de identidad a la cual se le realiza la petición para obtener los recursos requeridos.</dd>
        </dl>
    </p>
    <h4>Configuraciones de usuario</h4>
    <p>
        Desde aquí se pueden modificar las credenciales para iniciar sesión en el administrador del plugin. Es decir, se pueden modificar el nombre de usuario y la contraseña que fueron establecidas desde el wizard de configuración.
    </p>
    <h4>Configuración de idiomas</h4>
    <p>
        En esta sección se pueden agregar nuevos lenguajes para la visualización de textos del plugin. Para realizar esta acción, primero se debe descargar la plantilla o template. Cada línea de dicha plantilla se compone de la siguiente manera:
        <pre><code>etiqueta = "texto"</code></pre>
    </p>
    <p>
        Se deben traducir los textos de cada etiqueta al nuevo idioma que se desea incorporar, sin alterar los nombres de las etiquetas y guardar el archivo con el correspondiente <a ng-href="http://reference.sitepoint.com/html/lang-codes" target="_blank">código de lenguaje ISO de dos letras</a> en minúsculas.
    </p>
    <p>
        Por ejemplo si se traducen los textos a ruso el archivo debe nombrarse <kbd>ru</kbd>. Una vez que se tiene el archivo traducido y guardado con el correspondiente nombre se lo debe subir al servidor desde esta misma sección y completar el campo con el nombre del nuevo idioma. Siguiendo con el ejemplo, se debería completar el campo con “Ruso”.
    </p>
    <h4>Widget de Social Login</h4>
    <p>
        En esta sección se configuran los parámetros necesarios para personalizar el widget que será presentado en el sitio web con los botones de login correspondientes a los proveedores de identidad habilitados. Aquí se establece el tamaño del widget y la disposición de los botones dentro de él, entre otras opciones. A su vez, se facilita al desarrollador una vista previa del widget en donde se ven reflejados los valores a medida que éstos van siendo establecidos. A continuación se describen los parámetros disponibles para la personalización:
        <dl class="dl-horizontal">
            <dt>Ancho del widget:</dt>
            <dd>Ancho que tendrá el widget. Se puede establecer en pixeles o en porcentaje dependiendo la necesidad de cada desarrollador.</dd>
            <dt>Cantidad de columnas:</dt>
            <dd>Cantidad de columnas de botones que se mostrarán en el widget. Es importante el valor que se establece aquí, ya que a partir de ésta cantidad se calcula el ancho de cada botón que se muestra en el widget.</dd>
            <dt>Cantidad de filas:</dt>
            <dd>Cantidad de filas de botones que se mostrarán en el widget. Si se opta por la opción “auto”, todos los botones se mostrarán en forma vertical obedeciendo la cantidad de columnas fijadas sin importar la cantidad de filas utilizadas. Mientras que, si se establece un valor mayor o igual a uno y la cantidad de botones a mostrar excede la capacidad del widget, acorde a la cantidad de columnas y filas configuradas, se generará una especie de galería con paneles horizontales deslizantes, en donde por cada panel se exhibirá el número de botones correspondientes.</dd>
            <dt>Texto en los botones:</dt>
            <dd>Define si se mostrará en los botones solo el icono del correspondiente proveedor de identidad o se mostrará junto a él un texto descriptivo.</dd>
        </dl>
    </p>
    <p>
        Por otro lado, en esta sección también se encuentra el código HTML que se debe incluir en el sitio web para visualizar el widget de Social Login. El mismo se corresponde con el que se muestra en el último paso del wizard configuración.
    </p>
    <h4>Botones de proveedores</h4>
    <p>
        En esta sección se pueden administrar, es decir, editar y borrar, todos los identificadores existentes en el plugin, así como también agregar nuevos. 
    </p>
    <p>
        Cada identificador corresponde a un proveedor de identidad y está compuesto por un ID que identifica al proveedor de identidad (el cual debe ser único), su logo, y los colores de texto y de fondo que se utilizarán a la hora de mostrar su botón en el widget.
    </p>
        Tanto cuando se desea editar un identificador como cuando se desea crear uno nuevo, se abre un pequeño formulario con los campos detallados a continuación:
        <dl class="dl-horizontal">
            <dt>ID:</dt>
            <dd>Debe ser único y se utilizará para identificar cada una de los proveedores de identidad.</dd>
            <dt>Logo:</dt>
            <dd>Logo del proveedor de identidad que está asociado a este identificador.</dd>
            <dt>Color de texto:</dt>
            <dd>Color que será utilizado en el texto dentro del botón del proveedor de identidad que se muestra en el widget cuando éste está activo.</dd>
            <dt>Color de fondo:</dt>
            <dd>Color que será utilizado como fondo del botón del proveedor de identidad que se muestra en el widget cuando éste está activo.</dd>
        </dl>
    </p>
</div>
<div id="admin" class="row marketing" ng-show="selected==6">
    <h3>6. Creación de aplicaciones en proveedores de identidad</h3>
    
    <h4>Google</h4>
    <p>
        <ol>
            <li>
                Vaya a la <a ng-href="https://cloud.google.com/console/project" target="_blank">Google Cloud Console</a> y cree un nuevo proyecto. (Tendrá que iniciar sesión con una cuenta de Google, si todavía no lo hizo). Para ello haga clic en el botón rojo "CREAR PROYECTO" en la parte superior izquierda.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google1.png" alt="Google 1">
            </li>
            <li>
                En la ventana emergente "Nuevo Proyecto", complete el campo "Nombre del proyecto", el cual normalmente es el nombre de su sitio web y el campo "ID del proyecto" el cual debe ser un identificador único para su proyecto dentro de Google. Una buena opción es su nombre de dominio. Para finalizar haga clic en "Crear".
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google2.png" alt="Google 2">
            </li>
            <li>
                Una vez creado, será redirigido a la página "Descripción General" de su proyecto. Allí haga clic en el enlace "API y Autenticación" en el menú de la izquierda.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google7.png" alt="Google 3"> 
            </li>
            <li>
                Dentro de la sección "API y Autenticación" desplácese por la página y busque la fila "Google+ API". Haga clic en el botón "NO" al lado de él para convertirlo en "SI". Aparecerá una ventana emergente para que acepte las condiciones del servicio, tilde el casillero y haga clic en “Aceptar”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google9.png" alt="Google 4"> 
            </li>
            <li>
                En el menú de la izquierda, haga clic en "API y autenticación” y en el submenú que se despliega diríjase a “Credenciales”. Haga clic en el botón rojo "CREAR ID DE CLIENTE NUEVO" en la sección de OAuth en la parte superior izquierda.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google10.png" alt="Google 5"> 
            </li>
            <li>
                En la ventana emergente deje la opción "Aplicación Web" seleccionada. En el cuadro "Orígenes de Javascript Autorizados", ingrese el dominio del sitio web. Si usted tiene https habilitado en su sitio, ingresar los dos dominios, de la forma:
                <pre><code>http://www.example.com<br />https://www.example.com</code></pre>
                En la sección de "URI de redireccionamiento autorizado", debe ingresar la ruta al archivo del plugin que procesa los parámetros que retorna el proveedor de identidad. Dicho archivo es “eslip_oauth.php”. Para formar dicha ruta añádele a la URL del plugin la ruta  “/eslip_oauth.php”. Un ejemplo de cómo le deberia quedar sería: <kbd>http://www.example.com/eslip/eslip_oauth.php</kbd>. Si usted tiene https habilitado en su sitio, u otras formas de acceder a su dominio (como con www y sin www), añada todos ellos aquí. Una vez completados los dos campos haga clic en “Crear ID de cliente”
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google11.png" alt="Google 6">
            </li>
            <li>
                Una vez creado aparecerá una nueva sección denominada "ID de cliente para aplicaciones web". Aquí ya tiene disponible el <b>ID de cliente</b> y el <b>Secreto de cliente</b> para ser utilizados en la configuración del plugin.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google12.png" alt="Google 7">
            </li>
            <li>
                Al terminar el registro de su aplicación, usted puede ir al sub-menú “Pantalla de Autorización” dentro de "API y Autenticación" para configurar cómo se va a ver el diálogo de aprobación de la aplicación que se va a mostrar a los usuarios al intentar autenticarse utilizando sus cuentas de Google / Google+. En esta pantalla, usted debe asegurarse de que haya una dirección de correo electrónico válida y el nombre del sitio web correcto. Otros campos son opcionales pero pueden proporcionar a los usuarios más detalles sobre su sitio web como el logotipo y la política de privacidad, etc. Cuanto más información usted pueda proporcionar aquí, más fácil será que los usuarios finales puedan identificar y confiar en su aplicación, y concederle el acceso solicitado. Una vez que haya proporcionado la información necesaria, guardar y cerrar la página.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/google13.png" alt="Google 8">
            </li>
        </ol>
    </p>
    <p>
        <div class="highlight">
            <a ng-href="https://developers.google.com/+/api/oauth#scopes" target="blank">Scopes para Google</a>
        </div>
    </p>
    <h4>Facebook</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://developers.facebook.com" target="_blank">centro de desarrolladores de Facebook</a>. Dirigirse al menú superior y dentro de “Aplicaciones” haga clic en “Crear nueva aplicación”. (Tendrá que iniciar sesión con la cuenta de Facebook con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <br />
                <u>Nota:</u> <i>Facebook requiere que todas las aplicaciones sean propiedad de gente real. No se puede crear una aplicación con la cuenta de una “Página de Facebook”.</i>
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/facebook1.png" alt="Facebook 1">
            </li>
            <li>
                En la ventana emergente complete los campos: en el primero debe ingresar el nombre del sitio web, en el segundo un identificador para la aplicación y en el tercero elija la opción “Aplicaciones para Páginas”. Para finalizar haga clic en el botón “Creación de aplicaciones”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/facebook2.png" alt="Facebook 2">
            </li>
            <li>
                Aquí ya tiene a disposición el <b>Identificador de aplicación</b> (ID de cliente) y el <b>App Secret</b> (Secreto de cliente) para ser utilizados en la configuración del plugin. Para ver el App Secret debe hacer click en el botón mostrar y posiblemente Facebook le pida que ingrese nuevamente su contraseña por cuestiones de seguridad.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/facebook3.png" alt="Facebook 3">
            </li>
            <li>
                Dirigirse en el menú izquierdo a la sección “Configuración”. Allí haga clic en el botón “Agregar Plataforma”. 
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/facebook5.png" alt="Facebook 4">
            </li>
            <li>
                En las opciones que se nos ponen a disposición elegir Sitio Web. 
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/facebook6.png" alt="Facebook 5">
            </li>
            <li>
                Aparecerá un cuadro donde deberá completar el campo “Site URL” con la dirección del sitio web donde integremos Eslip plugin. Una vez escrita la URL del sitio haga clic en el botón “Guardar Cambios”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/facebook7.png" alt="Facebook 6">
            </li>
            <li>
                Por último vaya a la sección “Status & Review” para habilitar el uso de la aplicación. Haga clic en el botón "No" al lado de él para convertirlo en "Sí". Aparecerá una ventana emergente preguntando si esta seguro de activarla, haga clic en “Confirmar”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/facebook4.png" alt="Facebook 7">
            </li>
        </ol>
    </p>
    <p>
        <div class="highlight">
            <a ng-href="https://developers.facebook.com/docs/reference/login/" target="blank">Scopes para Facebook</a>
        </div>
    </p>
    <h4>Twitter</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://dev.twitter.com/apps" target="_blank">gestor de aplicaciones de Twitter</a> y cree una nueva aplicación. Para ello haga clic en el botón “Create a new application”. (Tendrá que iniciar sesión con la cuenta de Twitter con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/twitter1.png" alt="Twitter 1">
            </li>
            <li>
                Complete los campos obligatorios, como el nombre de la aplicación y la descripción. Ponga el dominio del sitio web en el campo "Website". En el campo "Callback URL" añada la URL del plugin y a continuación agregue “/eslip_oauth.php”. Un ejemplo de cómo podría llegar a quedar sería: <kbd>http://www.example.com/eslip/eslip_oauth.php</kbd>.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/twitter2.png" alt="Twitter 2">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada: <b>Consumer key</b> (ID de cliente) y <b>Consumer secret</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/twitter3.png" alt="Twitter 3">
            </li>
        </ol>
    </p>
    <h4>Yahoo!</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://developer.apps.yahoo.com/dashboard/" target="_blank">centro de desarrolladores de Yahoo!</a> y cree una nueva aplicación. Para ello haga clic en el botón “Create a project”. (Tendrá que iniciar sesión con la cuenta de Yahoo! con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/yahoo1.png" alt="Yahoo 1">
            </li>
            <li>
                Complete los campos obligatorios, como el nombre de la aplicación y la descripción. Ponga el dominio del sitio web en el campo Home Page URL. Ajuste el tipo de aplicación a “Basada en Web”. Ingrese los datos de contacto del desarrollador los cuales son el nombre y la dirección de correo electrónico.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/yahoo2.png" alt="Yahoo 2">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada: <b>Consumer key</b> (ID de cliente) y <b>Consumer secret</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/yahoo3.png" alt="Yahoo 3">
            </li>
        </ol>
    </p>
    <p>
        <div class="highlight">
            <a ng-href="https://developer.yahoo.com/social/rest_api_guide/usercard-resource.html" target="blank">Scopes para Yahoo!</a>
        </div>
    </p>
    <h4>Dropbox</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://www.dropbox.com/developers/apps" target="_blank">centro de desarrolladores de Dropbox</a> y cree una nueva aplicación. Para ello haga clic en el botón “Create app”. (Tendrá que iniciar sesión con la cuenta de Dropbox con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/dropbox1.png" alt="Dropbox 1">
            </li>
            <li>
                Elija la opción “Dropbox API app”. Luego la opción “Datastores only” e ingrese el nombre de su sitio web y haga clic en “Create app”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/dropbox2.png" alt="Dropbox 2">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada: <b>App key</b> (ID de cliente) y <b>App secret</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin. En esta misma pantalla complete el campo OAuth redirect URIs con la URL del plugin y a continuación agregue “/eslip_oauth.php”. Un ejemplo de cómo podría llegar a quedar sería: <kbd>https://www.example.com/eslip/eslip_oauth.php</kbd>. Es necesario que su sitio trabaje bajo un dominio seguro https://. Una vez completo el campo haga clic en el botón “Add”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/dropbox3.png" alt="Dropbox 3">
            </li>
            <li>
                Como último paso para poder habilitar la aplicación para que la utilice todo el mundo debe probarla primero el creador de la aplicación. Una vez aceptada la aplicacion por el dueño vuelva a ingresar al <a ng-href="https://www.dropbox.com/developers/apps" target="_blank">centro de desarrolladores de Dropbox</a>, elija la aplciacion creada y haga clic en el boton “Apply for production”.
            </li>
        </ol>
    </p>
    <h4>Flickr</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="http://www.flickr.com/services/apps/create/apply" target="_blank">centro de desarrolladores de Flickr</a> y seleccione la opción “Solicitar una clave no comercial”. (Tendrá que iniciar sesión con la cuenta de Flickr con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/flickr1.png" alt="Flickr 1">
            </li>
            <li>
                Complete los campos obligatorios, como el nombre de la aplicación y la descripción. Luego acepte los terminos de uso y haga clic en “Enviar”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/flickr2.png" alt="Flickr 2">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada: <b>Clave</b> (ID de cliente) y <b>Secreto</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin. En esta pantalla diríjase a “Editar flujo de autenticación para esta aplicación”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/flickr3.png" alt="Flickr 3">
            </li>
            <li>
                Aquí complete la descripción del sitio web, elija el tipo de aplicación “aplicación web” y por ultimo complete el campo “URL de devolución de llamada” con la URL del plugin y a continuación agregue “/eslip_oauth.php”. Un ejemplo de cómo podría llegar a quedar sería: <kbd>https://www.example.com/eslip/eslip_oauth.php</kbd>. Si quiere puede agregar el logo del sitio web. Esta información aparecerá en la ventana donde los usuarios tienen que aceptar la aplicación. Cuantos mas datos, mas confiaran en la aplicación. Para finalizar haga clic en “Save Changes”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/flickr4.png" alt="Flickr 4">
            </li>
        </ol>
    </p>
    <h4>Foursquare</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://foursquare.com/developers/register" target="_blank">formulario para crear una nueva aplicación en Foursquare</a> y complete los campos obligatorios, los cuales son: el nombre de la aplicación, el campo “Welcome page URL” con el dominio del sitio web y “Redirect URI” con la URL del plugin y a continuación agregue “/eslip_oauth.php”. Un ejemplo de cómo podría llegar a quedar sería: <kbd>https://www.example.com/eslip/eslip_oauth.php</kbd>. Para finalizar haga clic en “Guardar cambios”. (Tendrá que iniciar sesión con la cuenta de Foursquare con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/foursquare1.png" alt="Foursquare 1">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada: <b>Client ID</b> (ID de cliente) y <b>Client secret</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/foursquare2.png" alt="Foursquare 2">
            </li>
        </ol>
    </p>
    <h4>GitHub</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://github.com/settings/applications/new" target="_blank">formulario para crear una nueva aplicación en GitHub</a> y complete los campos obligatorios, como el nombre de la aplicación, el campo “Homepage URL” con el dominio del sitio web y “Authorization callback URL” con la URL del plugin y a continuación agregue “/eslip_oauth.php”. Un ejemplo de cómo podría llegar a quedar sería: <kbd>https://www.example.com/eslip/eslip_oauth.php</kbd>. Para finalizar haga clic en “Register application”. (Tendrá que iniciar sesión con la cuenta de GitHub con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/github1.png" alt="GitHub 1">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada: <b>Client ID</b> (ID de cliente) y <b>Client secret</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/github2.png" alt="GitHub 2">
            </li>
        </ol>
    </p>
    <p>
        <div class="highlight">
            <a ng-href="https://developer.github.com/v3/oauth/#scopes" target="blank">Scopes para GitHub</a>
        </div>
    </p>
    <h4>Windows Live</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://account.live.com/developers/applications/create" target="_blank">formulario para crear una nueva aplicación en Windows Live</a> y complete los campos obligatorios, como el nombre de la aplicación. Para finalizar haga clic en “Acepto”. (Tendrá que iniciar sesión con la cuenta de Windows Live con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/windows1.png" alt="Windows Live 1">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada <b>Client ID</b> (ID de cliente) y <b>Client secret</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin. Como último paso es necesario completar el campo “Dominio de redirección” con el dominio del sitio web. Para finalizar haga clic en “Guardar”.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/windows2.png" alt="Windows Live 2">
            </li>
        </ol>
    </p>
    <p>
        <div class="highlight">
            <a ng-href="http://msdn.microsoft.com/en-us/library/live/hh243646.aspx" target="blank">Scopes para Windows Live</a>
        </div>
    </p>
    <h4>LinkedIn</h4>
    <p>
        <ol>
            <li>
                Vaya al <a ng-href="https://www.linkedin.com/secure/developer?newapp=" target="_blank">formulario para crear una nueva aplicación en LinkedIn</a> y complete todos los campos obligatorios. Complete el campo “URL de redireccionamiento Aceptar en OAuth 1.0” con la URL del plugin y a continuación agregue “/eslip_oauth.php”. Un ejemplo de cómo podría llegar a quedar sería: <kbd>https://www.example.com/eslip/eslip_oauth.php</kbd>. Para finalizar haga clic en “Añadir Aplicación”. (Tendrá que iniciar sesión con la cuenta de LinkedIn con la que desee ser propietario de la aplicación, si todavía no lo hizo).
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/linkedin1.png" alt="LinkedIn 1">
            </li>
            <li>
                Una vez registrado, ya tiene disponibles las credenciales de la aplicación creada: <b>Credencial del usuario Oauth</b> (ID de cliente) y <b>Secreto del usuario OAuth</b> (Secreto de cliente) para ser utilizadas en la configuración del plugin.
                <img width="660px" style="margin-top: 10px; margin-bottom: 10px;" src="images/creacion_apps/linkedin2.png" alt="LinkedIn 2">
            </li>
        </ol>
    </p>
    <p>
        <div class="highlight">
            <a ng-href="https://developer.linkedin.com/documents/authentication#granting" target="blank">Scopes para LinkedIn</a>
        </div>
    </p>
</div>