<div class="jumbotron">
  
    <p class="lead">
        <div class="row">
            <img class="col-md-12" src="images/eslip-logo.png" alt="ESLIP Plugin"><br>
        </div>
    </p>

    <h3>Easy Social Login Integration Plugin</h3>
    
    <p>Plugin Simple para Integración de Social Login</p>
    
    <p>
        <b><a class="btn btn-lg btn-success" ng-href="https://github.com/eslip/eslip/archive/v0.2.zip">Descargar</a></b>
    </p>

</div>

<div class="row marketing">
    <h4>Introducción</h4>
    <p>
        Easy Social Login Integration Plugin (ESLIP), en español Plugin Simple para Integración de Social Login, permite integrar fácilmente Social Login a un sitio web, tal como lo indica su nombre. El principal objetivo de esta herramienta es permitir a los desarrolladores web incorporar de forma sencilla un widget de inicio de sesión que ofrezca la posibilidad de que los usuarios se autentiquen en un sitio web por medio de las cuentas de redes sociales y servicios en línea más populares, como por ejemplo Facebook, Twitter, Google, entre otros.
    </p>
</div>
